/* 
body {
  background:#F4FCFF;
  background: linear-gradient(to right, #FFFFFF, #FFFFFF);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  color:  #FFFFFF!important;
  background-color: #0938B1;
}

.hero.btn-google {
  color:  rgba(0, 133, 255, 0.7)!important;
  background-color: #FFFFFF;
  border: rgba(0, 133, 255, 0.7) 2px solid;
  font-size: 14px;
}
.t1 p{
  font-size: 12.71px;

}

.t1 h3{
  font-size: 18px;
}


.t1 h4{
  font-size: 48px;
  font-style: bold;
  margin-bottom: 60px;
}

.t3{
width: 30%;

}


.td p{
  text-align: center;
}


.td span{
font-weight: 600;
color: #0938B1;

}

.td img {
  width: 30%;
}

/* https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css
https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css
https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js */ */
body {
  background:#FFFFFF;
  background: linear-gradient(to right, #FFFFFF, #FFFFFF);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  color:  #FFFFFF!important;
  background-color: #0938B1;
  box-shadow: rgba(0, 0, 0, 0.25);
  border: rgba(0, 133, 255, 0.7) 2px solid;
}

.btn-google {
  color:  #0085FF!important;
  background-color: #FFFFFF;
  border: #0085FF 2px solid;
  font-size: 14px;
  
}
.t1 p{
  font-size: 12.71px;

}

.t1 h3{
  font-size: 18px;
}

.t1 {
  
  font-style: bold;
  margin-bottom: 10px;
  margin-top: 170px;
  font-weight: 600;

}
.tl{
  color: rgba(0, 0, 0, 0.2);
  font-size: 13px;
}
.tp
{
  color: #777777;
}

.t3{
width: 30%;

}

ts{
  color: #0085FF ;
}


.td p{
  text-align: center;
}


.td span{
font-weight: 600;
color: #0085FF;

}

.td img {
  width: 30%;
}

.im{
  margin-right: 12px;
}

/* https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css
https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css
https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js */